# Ignore the obj/ folder
obj/

# Ignore the executable file
risim
unit_test_runner
*simulators/
*data/

pictures/
mapping_pictures/
data_store/
test/
.vscode/
*.dsconfig
*.png
*.jpg
*.jpeg
*.dcconfig
*.dsconfig
*.ddconfig
ellipses.txt
points.txt
*.gplot
data/
bin/
python_gridding/

!python/important/
!python/important/figures/
!python/important/figures/**
!python/important/data/
!python/important/data/**